@media only screen and (max-width: 400px) {
  body .top .heroTitle {
    font-size: 10vw;
  }
  body .top p {
    font-size: 5vw;
  }
  body .top .button {
    text-decoration: none;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    text-align: center;
    width: 30%;
    font-size: 5vw;
  }
  body .top .pop-up-content {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    font-size: 5vw;
    padding-bottom: 5vw;
  }
  body .top .container {
    margin: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  body .top .container input {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  body .top .container textarea {
    resize: none;
    overflow-y: scroll;
  }
  body .top .container .create {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .top .container .avatar {
    width: 100%;
    text-align: center;
  }
  body .top .container .avatar img {
    width: 70%;
  }
  body .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .carte {
    width: 70%;
    margin-top: 3%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  body .top .heroTitle {
    font-size: 6vw;
  }
  body .top p {
    font-size: 3vw;
  }
  body .top .button {
    text-decoration: none;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    text-align: center;
    width: 20%;
    font-size: 3vw;
  }
  body .top .pop-up-content {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    font-size: 3vw;
    padding-bottom: 5vw;
  }
  body .top .container {
    margin: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  body .top .container input {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  body .top .container textarea {
    resize: none;
    overflow-y: scroll;
  }
  body .top .container .create {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .top .container .avatar {
    width: 100%;
    text-align: center;
  }
  body .top .container .avatar img {
    width: 70%;
  }
  body .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body .flex-container .carte {
    width: 40%;
    margin-top: 3%;
  }
}

body {
  font-family: "DotGothic16", sans-serif;
  background-color: #041527;
  color: white;
<<<<<<< HEAD
  overflow-x: hidden; }
  body .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0%;
    margin-left: -3%;
    margin-right: -3%;
    margin-top: -3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url(../../img/background.jpg);
    background-position: center;
    text-shadow: 2px 2px 5px #7d0381; }
    body .top .heroTitle {
      font-size: 3vw;
      animation: color-change 2s infinite; }
    body .top p {
      font-size: 1.2vw; }
    body .top p:hover {
      color: #b6ff8b; }
    body .top .button {
      text-decoration: none;
      margin-left: 44%;
      margin-right: 44%;
      margin-top: 1vw;
      margin-bottom: 1vw;
      padding: 0.5vw;
      text-align: center;
      width: 12%;
      color: white;
      background-color: black;
      font-size: 1.2vw;
      border: 2px solid white;
      border-radius: 5px;
      box-shadow: 2px 2px 5px #7d0381; }
    body .top .button:hover {
      color: #90f4fd;
      border: 2px solid lightBlue;
      box-shadow: 2px 2px 5px lightBlue; }
    body .top .button:active {
      color: #b6ff8b;
      border: 2px solid #b6ff8b;
      box-shadow: 2px 2px 7px #b6ff8b; }
    body .top .pop-up {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(4, 21, 39, 0.7); }
    body .top .pop-up-content {
      background-color: rgba(0, 0, 0, 0.8);
      border: 3px solid white;
      position: fixed;
      border-radius: 5px;
      margin-top: 10%;
      margin-left: 22%;
      width: 50%;
      height: auto;
      font-size: 1.5vw;
      padding: 2vw; }
      body .top .pop-up-content span {
        cursor: pointer; }
    body .top .container {
      margin: 3%;
      justify-content: center;
      display: flex;
      flex-direction: row; }
      body .top .container .create {
        width: 50%;
        display: flex;
        flex-direction: column; }
        body .top .container .create input {
          margin-top: 2%;
          margin-bottom: 2%;
          padding: 0.5vw 0.5vw;
          box-sizing: border-box;
          background-color: rgba(4, 21, 39, 0.5);
          color: white; }
        body .top .container .create input:focus {
          border: 1px solid #fce51e;
          box-shadow: 3px 3px 5px #fce51e; }
        body .top .container .create input::-moz-placeholder {
          color: white; }
        body .top .container .create textarea {
          resize: none;
          overflow-y: scroll;
          padding: 1vw;
          background-color: rgba(4, 21, 39, 0.5);
          color: white; }
        body .top .container .create textarea:focus {
          border: 1px solid #fce51e;
          box-shadow: 3px 3px 5px #fce51e; }
        body .top .container .create textarea::-moz-placeholder {
          color: white; }
      body .top .container .avatar {
        width: 50%;
        text-align: center; }
        body .top .container .avatar img {
          width: 70%; }
        body .top .container .avatar label {
          cursor: pointer; }
        body .top .container .avatar label:active {
          color: #ff4040;
          text-shadow: 2px 2px 5px #ff4040; }
  body .flex-container {
    display: flex;
    justify-content: center; }
    body .flex-container .carte {
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      body .flex-container .carte li {
        border: 3px solid white;
        border-radius: 5px;
        width: 45%;
        height: auto;
        margin: 1%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1%; }
        body .flex-container .carte li img {
          border: 0.5px solid gray;
          width: 10vw;
          height: 10vw;
          box-shadow: -2px -2px 3px #90f4fd; }
      body .flex-container .carte li:hover {
        box-shadow: 3px 3px 7px #90f4fd; }
      body .flex-container .carte .card-body {
        width: 70%;
        padding: 2%; }
        body .flex-container .carte .card-body .card-name {
          font-size: 1.5vw;
          text-shadow: 2px 2px 5px #7d0381;
          margin-top: 1%;
          margin-bottom: 1%; }
        body .flex-container .carte .card-body .card-shortDescription {
          font-size: 1vw;
          text-shadow: 1px 1px 3px #7d0381; }
        body .flex-container .carte .card-body .card-description {
          font-size: 1vw;
          color: gray; }
        body .flex-container .carte .card-body .buttonGroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 2%; }
          body .flex-container .carte .card-body .buttonGroup .button {
            text-decoration: none;
            padding: 0.5vw;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 40%;
            color: white;
            background-color: black;
            font-size: 1.2vw;
            border: 2px solid white;
            border-radius: 5px;
            box-shadow: 2px 2px 5px #7d0381; }
          body .flex-container .carte .card-body .buttonGroup .button:hover {
            color: #90f4fd;
            border: 2px solid lightBlue;
            box-shadow: 2px 2px 5px lightBlue; }
          body .flex-container .carte .card-body .buttonGroup .button:active {
            color: #b6ff8b;
            border: 2px solid #b6ff8b;
            box-shadow: 2px 2px 7px #b6ff8b; }
    body .flex-container .button {
      text-decoration: none;
      padding: 0.5vw;
      margin-left: 45%;
      text-align: center;
      width: 40%;
      color: white;
      background-color: black;
      font-size: 1.2vw;
      border: 2px solid white;
      border-radius: 5px;
      box-shadow: 2px 2px 5px #7d0381; }
    body .flex-container .button:hover {
      color: #90f4fd;
      border: 2px solid lightBlue;
      box-shadow: 2px 2px 5px lightBlue; }
    body .flex-container .button:active {
      color: #b6ff8b;
      border: 2px solid #b6ff8b;
      box-shadow: 2px 2px 7px #b6ff8b; }
    body .flex-container .pop-up {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(4, 21, 39, 0.7); }
    body .flex-container .pop-up-content {
      background-color: rgba(0, 0, 0, 0.8);
      border: 3px solid white;
      position: fixed;
      border-radius: 5px;
      margin-top: 10%;
      margin-left: 22%;
      width: 50%;
      height: auto;
      font-size: 1.5vw;
      padding: 2vw; }
      body .flex-container .pop-up-content span {
        cursor: pointer; }
    body .flex-container .container {
      margin: 3%;
      justify-content: center;
      display: flex;
      flex-direction: row; }
      body .flex-container .container .create {
        width: 50%;
        display: flex;
        flex-direction: column; }
        body .flex-container .container .create input {
          margin-top: 2%;
          margin-bottom: 2%;
          padding: 0.5vw 0.5vw;
          box-sizing: border-box;
          background-color: rgba(4, 21, 39, 0.5);
          color: white; }
        body .flex-container .container .create input:focus {
          border: 1px solid #fce51e;
          box-shadow: 3px 3px 5px #fce51e; }
        body .flex-container .container .create input::-moz-placeholder {
          color: white; }
        body .flex-container .container .create textarea {
          resize: none;
          overflow-y: scroll;
          padding: 1vw;
          background-color: rgba(4, 21, 39, 0.5);
          color: white; }
        body .flex-container .container .create textarea:focus {
          border: 1px solid #fce51e;
          box-shadow: 3px 3px 5px #fce51e; }
        body .flex-container .container .create textarea::-moz-placeholder {
          color: white; }
      body .flex-container .container .avatar {
        width: 50%;
        text-align: center; }
        body .flex-container .container .avatar img {
          width: 70%; }
        body .flex-container .container .avatar label {
          cursor: pointer; }
        body .flex-container .container .avatar label:active {
          color: #ff4040;
          text-shadow: 2px 2px 5px #ff4040; }
=======
  overflow-x: hidden;
}
body .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0%;
  margin-left: -3%;
  margin-right: -3%;
  margin-top: -3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url(/img/background.jpg);
  background-position: center;
  text-shadow: 2px 2px 5px #7d0381;
}
body .top .heroTitle {
  font-size: 3vw;
  animation: color-change 2s infinite;
}
body .top p {
  font-size: 1.2vw;
}
body .top p:hover {
  color: #b6ff8b;
}
body .top .button {
  text-decoration: none;
  margin-left: 44%;
  margin-right: 44%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 0.5vw;
  text-align: center;
  width: 12%;
  color: white;
  background-color: black;
  font-size: 1.2vw;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #7d0381;
}
body .top .button:hover {
  color: #90f4fd;
  border: 2px solid lightBlue;
  box-shadow: 2px 2px 5px lightBlue;
}
body .top .button:active {
  color: #b6ff8b;
  border: 2px solid #b6ff8b;
  box-shadow: 2px 2px 7px #b6ff8b;
}
body .top .pop-up {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(4, 21, 39, 0.7);
}
body .top .pop-up-content {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid white;
  position: fixed;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: 22%;
  width: 50%;
  height: auto;
  font-size: 1.5vw;
  padding: 2vw;
}
body .top .pop-up-content span {
  cursor: pointer;
}
body .top .container {
  margin: 3%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
body .top .container .create {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .top .container .create input {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0.5vw 0.5vw;
  box-sizing: border-box;
  background-color: rgba(4, 21, 39, 0.5);
  color: white;
}
body .top .container .create input:focus {
  border: 1px solid #fce51e;
  box-shadow: 3px 3px 5px #fce51e;
}
body .top .container .create input::-moz-placeholder {
  color: white;
}
body .top .container .create textarea {
  resize: none;
  overflow-y: scroll;
  padding: 1vw;
  background-color: rgba(4, 21, 39, 0.5);
  color: white;
}
body .top .container .create textarea:focus {
  border: 1px solid #fce51e;
  box-shadow: 3px 3px 5px #fce51e;
}
body .top .container .create textarea::-moz-placeholder {
  color: white;
}
body .top .container .avatar {
  width: 50%;
  text-align: center;
}
body .top .container .avatar img {
  width: 70%;
}
body .top .container .avatar label {
  cursor: pointer;
}
body .top .container .avatar label:active {
  color: #ff4040;
  text-shadow: 2px 2px 5px #ff4040;
}
body .flex-container {
  display: flex;
  justify-content: center;
}
body .flex-container .carte {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body .flex-container .carte li {
  border: 3px solid white;
  border-radius: 5px;
  width: 45%;
  height: auto;
  margin: 1%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
}
body .flex-container .carte li img {
  border: 0.5px solid gray;
  width: 10vw;
  height: 10vw;
  box-shadow: -2px -2px 3px #90f4fd;
}
body .flex-container .carte li:hover {
  box-shadow: 3px 3px 7px #90f4fd;
}
body .flex-container .carte .card-body {
  width: 70%;
  padding: 2%;
}
body .flex-container .carte .card-body .card-name {
  font-size: 1.5vw;
  text-shadow: 2px 2px 5px #7d0381;
  margin-top: 1%;
  margin-bottom: 1%;
}
body .flex-container .carte .card-body .card-shortDescription {
  font-size: 1vw;
  text-shadow: 1px 1px 3px #7d0381;
}
body .flex-container .carte .card-body .card-description {
  font-size: 1vw;
  color: gray;
}
body .flex-container .carte .card-body .buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}
body .flex-container .carte .card-body .buttonGroup .button {
  text-decoration: none;
  padding: 0.5vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  color: white;
  background-color: black;
  font-size: 1.2vw;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #7d0381;
}
body .flex-container .carte .card-body .buttonGroup .button:hover {
  color: #90f4fd;
  border: 2px solid lightBlue;
  box-shadow: 2px 2px 5px lightBlue;
}
body .flex-container .carte .card-body .buttonGroup .button:active {
  color: #b6ff8b;
  border: 2px solid #b6ff8b;
  box-shadow: 2px 2px 7px #b6ff8b;
}
body .flex-container .button {
  text-decoration: none;
  padding: 0.5vw;
  margin-left: 45%;
  text-align: center;
  width: 40%;
  color: white;
  background-color: black;
  font-size: 1.2vw;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #7d0381;
}
body .flex-container .button:hover {
  color: #90f4fd;
  border: 2px solid lightBlue;
  box-shadow: 2px 2px 5px lightBlue;
}
body .flex-container .button:active {
  color: #b6ff8b;
  border: 2px solid #b6ff8b;
  box-shadow: 2px 2px 7px #b6ff8b;
}
body .flex-container .pop-up {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(4, 21, 39, 0.7);
}
body .flex-container .pop-up-content {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid white;
  position: fixed;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: 22%;
  width: 50%;
  height: auto;
  font-size: 1.5vw;
  padding: 2vw;
}
body .flex-container .pop-up-content span {
  cursor: pointer;
}
body .flex-container .container {
  margin: 3%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
body .flex-container .container .create {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .flex-container .container .create input {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0.5vw 0.5vw;
  box-sizing: border-box;
  background-color: rgba(4, 21, 39, 0.5);
  color: white;
}
body .flex-container .container .create input:focus {
  border: 1px solid #fce51e;
  box-shadow: 3px 3px 5px #fce51e;
}
body .flex-container .container .create input::-moz-placeholder {
  color: white;
}
body .flex-container .container .create textarea {
  resize: none;
  overflow-y: scroll;
  padding: 1vw;
  background-color: rgba(4, 21, 39, 0.5);
  color: white;
}
body .flex-container .container .create textarea:focus {
  border: 1px solid #fce51e;
  box-shadow: 3px 3px 5px #fce51e;
}
body .flex-container .container .create textarea::-moz-placeholder {
  color: white;
}
body .flex-container .container .avatar {
  width: 50%;
  text-align: center;
}
body .flex-container .container .avatar img {
  width: 70%;
}
body .flex-container .container .avatar label {
  cursor: pointer;
}
body .flex-container .container .avatar label:active {
  color: #ff4040;
  text-shadow: 2px 2px 5px #ff4040;
}
>>>>>>> hsia-test

@keyframes color-change {
  0% {
    color: white;
    text-shadow: 2px 2px 5px #7d0381;
  }
  50% {
    color: white;
    text-shadow: 2px 2px 5px #7d0381;
  }
  75% {
    color: #90f4fd;
    text-shadow: 2px 2px 10px #fce51e;
  }
  100% {
    color: white;
    text-shadow: 2px 2px 5px #7d0381;
  }
}

@media only screen and (max-width: 400px) {
  body .top .heroTitle {
    font-size: 10vw;
  }
  body .top p {
    font-size: 5vw;
  }
  body .top .button {
    text-decoration: none;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    text-align: center;
    width: 30%;
    font-size: 5vw;
  }
  body .top .pop-up-content {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    font-size: 5vw;
    padding-bottom: 5vw;
  }
  body .top .container {
    margin: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  body .top .container input {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  body .top .container textarea {
    resize: none;
    overflow-y: scroll;
  }
  body .top .container .create {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .top .container .avatar {
    width: 100%;
    text-align: center;
  }
  body .top .container .avatar img {
    width: 70%;
  }
  body .flex-container .carte {
    width: 96%;
  }
  body .flex-container .carte li {
    width: 100%;
    height: auto;
    margin: 1%;
    padding: 1%;
  }
  body .flex-container .carte li img {
    width: 30vw;
    height: 30vw;
  }
  body .flex-container .carte .card-body {
    width: 60%;
    padding: 2%;
  }
  body .flex-container .carte .card-body .card-name {
    font-size: 6vw;
  }
  body .flex-container .carte .card-body .card-shortDescription {
    font-size: 5vw;
  }
  body .flex-container .carte .card-body .card-description {
    font-size: 5vw;
  }
  body .flex-container .carte .card-body .buttonGroup {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  body .flex-container .carte .card-body .buttonGroup .button {
    padding: 0.5vw;
    width: 45%;
    font-size: 4.5vw;
  }
  body .flex-container .carte .card-body .buttonGroup .button:hover {
    color: #90f4fd;
    border: 2px solid lightBlue;
    box-shadow: 2px 2px 5px lightBlue;
  }
  body .flex-container .carte .card-body .buttonGroup .button:active {
    color: #b6ff8b;
    border: 2px solid #b6ff8b;
    box-shadow: 2px 2px 7px #b6ff8b;
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  body .top .heroTitle {
    font-size: 6vw;
  }
  body .top p {
    font-size: 3vw;
  }
  body .top .button {
    text-decoration: none;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
    text-align: center;
    width: 20%;
    font-size: 3vw;
  }
  body .top .pop-up-content {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    font-size: 3vw;
    padding-bottom: 5vw;
  }
  body .top .container {
    margin: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  body .top .container input {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  body .top .container textarea {
    resize: none;
    overflow-y: scroll;
  }
  body .top .container .create {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .top .container .avatar {
    width: 100%;
    text-align: center;
  }
  body .top .container .avatar img {
    width: 70%;
  }
  body .flex-container .carte {
    width: 90%;
  }
  body .flex-container .carte li {
    width: 100%;
    height: auto;
    margin: 1%;
    padding: 1%;
  }
  body .flex-container .carte li img {
    width: 25vw;
    height: 25vw;
  }
  body .flex-container .carte .card-body {
    width: 65%;
    padding: 2%;
  }
  body .flex-container .carte .card-body .card-name {
    font-size: 6vw;
  }
  body .flex-container .carte .card-body .card-shortDescription {
    font-size: 3vw;
  }
  body .flex-container .carte .card-body .card-description {
    font-size: 3vw;
  }
  body .flex-container .carte .card-body .buttonGroup {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  body .flex-container .carte .card-body .buttonGroup .button {
    padding: 0.5vw;
    width: 40%;
    font-size: 3vw;
  }
  body .flex-container .carte .card-body .buttonGroup .button:hover {
    color: #90f4fd;
    border: 2px solid lightBlue;
    box-shadow: 2px 2px 5px lightBlue;
  }
  body .flex-container .carte .card-body .buttonGroup .button:active {
    color: #b6ff8b;
    border: 2px solid #b6ff8b;
    box-shadow: 2px 2px 7px #b6ff8b;
  }
}

/*# sourceMappingURL=style.css.map */
